.sections{
    padding-top: 15px;
    display: inline-block;
}

.section1 {
    display: inline-block;
    width: 138px;
    height: 25px;
    border: 2px solid #c0c0c0;
    background-color: #DDD;
    border-radius: 12px;
    
}
.section2 {
    display: inline-block;
    width: 138px;
    height: 25px;
    border: 2px solid #c0c0c0;
    background-color: #DDD;
    border-radius: 12px;
   
}

.section3 {
    display: inline-block;
    width: 138px;
    height: 25px;
    border: 2px solid #c0c0c0;
    background-color: #DDD;
    border-radius: 12px;
    
}

