<div class="body">
    <div class="container">
        <div class="block">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <input formControlName="password" type="text" placeholder="Password" class="password-form" (ngModelChange)="onPasswordChange()">
            <div class="sections">
                <div class="section1" [style.background-color]="section1"></div>
                <div class="section2" [style.background-color]="section2"></div>
                <div class="section3" [style.background-color]="section3"></div>    
            </div>
            <div class="button__container">
            <p class="message">{{message}}</p>
            <button type="button" class="save-button">SAVE</button>
            </div>
            </form>
        </div>
    </div>
</div>
